@import '../../../base/shared/css/base.scss';

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 256px;
}

.card-wrapper img {
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px black);
  cursor: pointer;
  transition: 0.1s;
  height: 100%;
  width: 100%;
}

.card-wrapper img:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 10px black);
  transition: 0.1s;
  z-index: 10;
}
