@import '../../../base/shared/css/base.scss';

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.card-wrapper img {
  border-radius: 10px;
  filter:drop-shadow(10px 10px 10px black);
  cursor: pointer;
  transition: 0.2s;

}

.card-wrapper img:hover {
  transform: scale(1.1);
  filter:drop-shadow(5px 5px 10px black);
  transition: 0.2s;

}

