@import '../../../base/shared/css/base.scss';

html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', Verdana, sans-serif !important;
  overflow: hidden;
}

.no-padding {
  padding: 0px;
}

.app-div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundTransparentWhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 178, 178);
} 