html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', Verdana, sans-serif !important;
}

.no-padding {
  padding: 0px;
}

.app-div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* width */
 html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
} 