$backgroundImage: url('https://i.ytimg.com/vi/LgtRqwfJGbI/maxresdefault.jpg');
$cursiveFont: 'Parisienne', cursive;
$standardFont: 'Roboto', sans-serif;
$borderRadius: 10px;
$backgroundTransparentWhite: rgba(128, 128, 128, 0.452);
