@import '../../../base/shared/css/base.scss';

.playerChoosingPopUp-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundTransparentWhite;
  z-index: 10;
}

.playerChoosingPopUp-wrapper h1 {
  font-size: 50px !important;
}
