@import '../../../base/shared/css/base.scss';

.playedCardDisplay-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:20px;
}


