@import '../../../base/shared/css/base.scss';

.playedCardDisplay-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:20px;
  z-index: 10;
  right:0;
  background-color: $backgroundTransparentWhite;
  height: 100%;
  width: 20%;
}

.playedCardDisplay-wrapper h2{
margin:0;
margin-top:10px;
width: 90%;
color:white;
font-family: $cursiveFont;
font-size:30px;
border-bottom:1px solid white;
padding-bottom:10px;
text-align: center;
}


.playedCardDisplay-wrapper .card-list{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  // overflow-y: hidden;
  overflow-x: hidden;

}

.playedCardDisplay-wrapper .card-alone{
  position: absolute;
}

.playedCardDisplay-wrapper .card-alone:hover{
  z-index: 1000 !important;
  transition: 0s;
  // Slide on left, maybe ?
  // right:100px;
  // position:fixed;
}
