@import '../../../base/shared/css/base.scss';

.playerList-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $backgroundTransparentWhite;
  width: 200px;
  color: white;
}

.playerList-wrapper h2 {
  font-size: 30px;
  font-family: $cursiveFont;
  border-bottom: 1px solid white;
  width: 90%;
  padding-bottom: 10px;
  text-align: center;
}
