@import '../../../base/shared/css/base.scss';

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: $backgroundImage;
  background-size: cover;
}

.board-wrapper h1 {
  font-size: 100px;
  font-family: $cursiveFont;
  color: white;
}
