@import '../../../base/shared/css/base.scss';

.boardWrapper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: $backgroundImage;
  background-size: cover;
}
