@import '../../../base/shared/css/base.scss';

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-image: $backgroundImage;
  background-size: cover;
}

.board-wrapper h1 {
  font-size: 40px;
  font-family: $cursiveFont;
  color: white;
}

.board-wrapper .card-display{
  display: flex;
  margin-bottom: 2%;
}

