@import '../../../../../base/shared/css/base.scss';

.playerDisplay-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playerDisplay-wrapper p {
  cursor: pointer;
  color: white;
  margin: 30px;
  padding: 3em;
  background-color: rgb(61, 61, 61);
  -webkit-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  border-radius: 6px;
}

.playerDisplay-wrapper p:hover {
  transition: 0.5s;
  -webkit-box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.75);
}
